body {
  background-image: url('img/background.gif');
  background-position: center;
  background-size: cover;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: aliceblue;

}
  
.app {
background-color: rgb(0, 0, 0);
margin: 0 auto;
max-width: 600px;
}

button{
  background-color: rgb(63, 227, 9);
  margin: 10;
  max-width: 400px;
}